.card {
  width: max-content;
  background-color: #0d1117;
  color: #e6edf3;
  border: 1px solid #e6edf3;
  border-radius: 10px;
  margin-bottom: 30px;
}

.cardImg {
  width: 300px;
  height: 431px;
  border-radius: 10px;
}

.textPaslon {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.textDesc {
  font-size: 14px;
  font-style: normal;
  font-weight: 275;
  text-align: right;
}

.buttonModal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 46px;
  background-color: #0d1117;
  border: 1px solid #e6edf3;
  color: #e6edf3;
  border-radius: 10px;
  border-top: unset;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-left: 1px;
  border-bottom: 1px;
  border-right: 0;
}

.buttonModalEdit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 46px;
  background-color: #0d1117;
  border: 1px solid #e6edf3;
  color: #e6edf3;
  border-top: unset;
  border-radius: 0;
  border-left: 1px;
  border-right: 0;
}

.cardBody {
  margin: 15px 15px 0 15px;
  height: 30px;
}

.cardFooter {
  margin: 0;
}

.cardFooterAdmin {
  margin: 0;
}
