.table {
  margin-bottom: 5vh;
}

.tableHead {
  color: #edf1f4;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 50px;
  vertical-align: middle;
}

.tableBody {
  color: #edf1f4;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 50px;
  cursor: pointer;
}

.tableBodyManage {
  color: #edf1f4;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 50px;
}

.nameRow {
  text-align: left;
  width: 40vw;
}

.dateRow {
  width: 15vw;
}

.overflowCell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.linkCell {
  cursor: pointer;
}

.linkCell:hover {
  color: gray;
}

.linkCell:active {
  text-decoration: underline;
}

.iconSort {
  margin-left: 8px;
  font-size: 12px;
}

@media (max-width: 576px) {
  .tableBody {
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
  }
  .tableHead {
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
  }

  .nameRow {
    display: block;
  }
}

@media (max-width: 768px) {
  .tableHead {
    font-size: 12px;
  }

  .tableBody {
    font-size: 12px;
  }
}
