.judulModal {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 10px;
}

.modal {
  width: 50vw;
  min-width: max-content;
  height: 75vh;
  min-width: max-content;
  border-radius: 16px;
}

.headerEditProfile {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  filter: none !important;
}

.headerEditDesc {
  font-weight: lighter;
  font-size: 12px;
  padding-top: 5px;
  filter: none !important;
}

.accordionBody {
  visibility: visible;
  text-align: justify;
  background-color: #0d1117;
}

.accordionHeader {
  background-color: #0d1117;
}

.accordion {
  width: 50vw;
  color: #e6edf3;
}

@media (max-width: 576px) {
  .modal {
    width: 96vw;
    height: max-content;
  }

  .accordion {
    width: 80vw;
    color: #e6edf3;
  }
}
