.judulModal {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 10px;
}

.modal {
  width: 30vw;
  min-width: max-content;
  border-radius: 16px;
}

.modalAddCandidate {
  width: 30vw;
  min-width: max-content;
  height: 70vh;
  overflow-y: visible;
  border-radius: 16px;
}

.modalHeader {
  border-bottom: 2px solid #c2c2c2;
  font-weight: bold;
  font-size: 18px;
  padding: 16px 30px 16px 30px;
  background-color: #0d1117;
  color: #e6edf3;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.modalBody {
  padding: 16px 30px 30px 30px;
  overflow-y: auto;
  background-color: #0d1117;
  color: #e6edf3;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.modalBodyVote {
  padding: 16px 30px 30px 30px;
  overflow-y: auto;
  background-color: #0d1117;
  color: #e6edf3;
}

.modalFooter {
  background-color: #0d1117;
  color: #e6edf3;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.modalDelete {
  width: max-content;
}

.headerEditProfile {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  filter: none !important;
}

.headerEditDesc {
  font-weight: lighter;
  font-size: 12px;
  padding-top: 5px;
  filter: none !important;
}

.headerRequired {
  display: flex;
  font-weight: lighter;
  font-size: 12px;
  padding-top: 5px;
  filter: none !important;
}

.accordion {
  width: 30vw;
}

.accordionHeader {
  background-color: #0d1117;
  color: #e6edf3;
  border: 1px solid white;
}

.accordionBody {
  visibility: visible;
  text-align: justify;
  background-color: #0d1117;
  color: #e6edf3;
}

.emailDelete {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.loadingForm {
  display: flex;
  justify-content: center;
}

.buttonModalEdit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.buttonDelete {
  border: 0;
  background-color: #ff0000;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.buttonDelete:hover {
  border: #950101;
  background-color: #950101;
}

.baseButton {
  border: 0;
  background-color: #142b38;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.dropzone {
  height: 150px;
  cursor: pointer;
  border: 1px solid #e6edf3;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  background-color: #142b38;
  width: 100%;
  padding: 10px;
}

.backdropModal {
  background-color: rgba(0, 0, 0, 10);
}

@media (max-width: 1024px) {
  .modalAddCandidate {
    width: 50vw;
  }

  .accordion {
    width: 50vw;
    color: #e6edf3;
  }
}

@media (max-width: 768px) {
  .modal {
    width: 95vw;
  }

  .modalAddCandidate {
    width: 95vw;
  }

  .accordion {
    width: 80vw;
    color: #e6edf3;
  }

  .modalDelete {
    width: 95vw;
  }

  .dropzone {
    width: 80vw;
  }
}
