/* LOGIN DAFTAR OTP */
.bgLogin {
  position: relative;
  width: 50vw;
  height: 100vh;
  overflow-y: hidden;
  object-fit: cover;
}

.bgLoginDaftar {
  overflow-y: hidden;
  height: 100vh;
}

.logoLogin {
  position: relative;
  width: 145px;
  height: 36px;
  margin-bottom: 40px;
}

.TeksLogin {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 15px;
}

.linkDaftar {
  color: #17b9f3;
}

.teksDaftar {
  display: flex;
  flex-direction: row;
  padding-bottom: 33px;
}

.teksOtp {
  padding-bottom: 33px;
}

.formLogin {
  padding: 0;
  margin-left: 51px;
  margin-top: 6vh;
  margin-right: 11vw;
}

.formDaftar {
  padding: 0;
  margin-left: 51px;
  margin-top: 6vh;
  margin-right: 10vw;
  height: 90vh;
  overflow-y: auto;
}
/* LOGIN DAFTAR OTP */

/* MENU PEMILIHAN */
.tabs {
  padding: 0 60px 0 39px;
}

.judul {
  margin: 50px 0px 30px 30px;
}

/* PROFILE */
.bgProfile {
  position: relative;
  width: 50vw;
  height: 90vh;
  overflow-y: hidden;
  object-fit: cover;
}

/* Detail Pemilihan */
.judulDetailPemilihan {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  width: 70vw;
  margin-bottom: 20px;
}

.organisasiDetailPemilihan {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
}

.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64vw;
  height: 448px;
  border-radius: 15px;
  border: 1px solid #17b9f3;
}
