.input-container {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: 13px;
  padding-bottom: 10px;
  color: #edf1f4;
  font-weight: 400;
}

.input-field {
  height: 36px;
  border-radius: 5px;
  padding: 5px 0 5px 15px;
  background-color: #0d1117;
  border: 1px solid #30363d;
  font-size: 13px;
  color: #edf1f4;
}

.text-area-field {
  height: 120px;
  border-radius: 10px;
  padding: 5px 0 5px 15px;
  background-color: #edf1f4;
  border: 3px solid #cad6e2;
}

.input-error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}
